/*//////////////////////////////////////////////////////////////////
[ analysis ]*/
.analysis {
    width: calc(100% - 78px);
    max-width: 1200px;
    height: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    /*-----------------------------------------*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.analysis > div:nth-child(3) {
    grid-column: 1/3;
}