body { margin: 0px; }
li { list-style: none; }


/* Header Css [Start] */
/* main header */
.app-header {
    background-color: black;
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    min-width: 769px;
    height: 80px;
}

/* logo */
.app-header > div.logo {
    background-color: red;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
}
.app-header > div.logo > img {
    background-color: aquamarine;
    width: 200px;
    height: 60px;
    margin: 0px 0px 0px 50px;
}

/* menu list */
.app-header > div.menu-list {
    background-color: blue;
    display: flex;
    justify-content: end;
    width: 70%;
}
.app-header > div.menu-list img {
    
}

.app-header ul {
    display: flex;
    flex-direction: row;
}

.app-header ul li {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.app-header span {
    color: #fff;
    font-size: 17px;
}
/* Header Css [End] */



/*
    ==================================================
    ==================================================
    ==================================================
*/


.app-wrap {
    width: 1920px;
    height: 1080px;
}



/* Sidebar Css [Start] */
.sidebar {
    background-color: blueviolet;
    width: 30%;
    height: 100%;
}
/* Sidebar Css [End] */