.App { 
    max-width: 1920px;
    min-width: 769px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
}
  
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}
  
@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}
  
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}
  
/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
  
a:focus {
    outline: none !important;
}
  
a:hover {
    text-decoration: none;
    color: #57b846;
}
  
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}
  
p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
  
  
/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }
  
/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

select {
    font-size: small;
    font-weight: 500;
    font-family: Poppins-Bold;
    color: black;
    border: 0;
    border-bottom: 1px solid black;
}

input[type="file"] {
    display: none;
}

input[type="date"] {
    width: 108px;
    background-image:url("../images/calendar-icon.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 100%;
    position: relative;
    /*-------------------------------------------------*/
    font-size: 15px;
    font-weight: 600;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 81%;
    background: transparent;
    cursor: pointer;
}

input[type="month"] {
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    background-image:url("../images/calendar-icon-white.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 100%;
    position: relative;
    /*-----------------------------------------------------*/
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins-Regular;
    color: white;
    margin: 0 20px;
}
input[type="month"]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 81%;
    background: transparent;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}
.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}
.txt3 {
    font-family: Poppins-Bold;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    color: #666666;
    padding: 5px;
}
.txt3-b {
    font-family: Poppins-Bold;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    color: #666666;
    padding: 5px;
}
.txt4 {
    font-family: Poppins-Regular;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
}
.txt-white { color: white; }
.timeline-sel { border: solid 2px red; }
.pointer { cursor: pointer; }
.fade { display: none !important; }
.show-f { display: flex !important; }
.opacity05 { opacity: 0.5; background-color: rgba(0, 0, 0, 0.09); }
.opacity01 { opacity: 0.1; }
.opacity0 { opacity: 0; }

.fadein {
    /* animation : 효과(@keyframes 이름) 동작시간 */
    animation: fadein 1s;
}  
@keyframes fadein {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeout {
    /* animation : 효과(@keyframes 이름) 동작시간 */
    animation: fadeout 1s;
}  
@keyframes fadeout {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*//////////////////////////////////////////////////////////////////
[ loading-icon ]*/
.loading-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ffffffad;
    z-index: 1000;
}
.loading-wrap > .bx-loader-alt {
    height: 50px;
    font-size: 50px;
}

/*//////////////////////////////////////////////////////////////////
[ main ]*/
.app-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #B9B4C7;
}


/*//////////////////////////////////////////////////////////////////
[ content ]*/
.home-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}
.sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
}

/*//////////////////////////////////////////////////////////////////
[ neighbor ]*/
.empty-profile {
    background-image:url("../images/user-circle-solid-84.png");
    background-repeat: no-repeat;
    background-size: cover;
}