.App { 
    max-width: 1920px;
    min-width: 769px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
}
  
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
  
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}
  
@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}
  
/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
  
a:focus {
    outline: none !important;
}
  
a:hover {
    text-decoration: none;
    color: #57b846;
}
  
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}
  
p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
  
  
  /*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }
  
/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

select {
    font-size: small;
    font-weight: 500;
    font-family: Poppins-Bold;
    color: black;
    border: 0;
    border-bottom: 1px solid black;
    /* background-color: rgba(0, 0, 0, 0); */
}
  
  
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}

/*//////////////////////////////////////////////////////////////////
[ main ]*/

.app-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #B9B4C7;
}


/*//////////////////////////////////////////////////////////////////
[ content ]*/
 
.home-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}
.sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
}

/*//////////////////////////////////////////////////////////////////
[ calendar ]*/

.calendar {
    width: 100%;
    max-width: 1000px;
    min-width: 150px;
    margin-left: 50px;
    margin-top: 50px;
}
.calendar-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}
.calendar-header a {
    display: flex;
    justify-content: center;
    min-width: 20px;
    margin: 0 10px;
}
.calendar-header input[type="month"] {
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #e6e9f6;
}
.calendar-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.daily {
    width: 100%;
    margin: 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ modal window ]*/

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    width: calc(80% - 78px);
    min-width: 750px;
    height: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background: white;
}
.modal-part {padding: 0 10px;}
.modal-part:not(:last-child) {margin-bottom: 25px;}
.modal input {width: 100%; height: 30px;}
.modal textarea {width: 100%; height: 250px;}
/* .modal input, .modal textarea {border: 1px solid black;} */
.modal-header, .modal-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.modal-header button {
    position: absolute;
    top: -30px;
    width: 25px;
    height: 25px;
    color: #e6e9f6;
    font-size: large;
    font-weight: 600;
}
.modal-footer-right button {
    margin-top: 5px;
    margin-left: 5px;
}
.bxs-message-square-check:before {
    /* 최초 저장 버튼 */
    font-size: 35px;
    color: #02c13a;
}
.bxs-message-square-edit:before {
    /* 수정 버튼 */
    font-size: 35px;
    color: #d29d00;
}
.bxs-message-square-x:before {
    /* 취소 버튼 */
    font-size: 35px;
    color: #cd0000;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.modal-pic {
    background-color: #57b846;
    width: 50%;
}
.modal-info {
    background-color: #98b6cd;
    width: 50%;
}
.sel-date {
    padding: 5px;
}
/* .modal-content h2 {
    margin-top: 0;
}  
.modal-content label {
    display: block;
    margin: 15px 0;
}
.modal-content textarea {
    width: 100%;
    height: 80px;
}  
.modal-content button {
    margin-right: 10px;
}
.modal-files img {
    width: 200px;
    height: 100px;
    object-fit: contain;
} */


/*//////////////////////////////////////////////////////////////////
[ timeline ]*/

.timeline {
    /* background-color: red; */
    width: 100%;
    
}
.timeline .picture {
    /* background-color: aqua; */

}
.timeline .note-title {
    background-color: #b8b4c5;

}

.show-new-log {
    width: 100%;
    height: 30px;
    background-color: #68687d;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ footer ]*/