/*//////////////////////////////////////////////////////////////////
[ modal window ]*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.90);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.modal {
    width: calc(80% - 78px);
    min-width: 750px;
    height: 65%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(51, 51, 51, 1);
}
.modal-part {padding: 0 10px;}
.modal-part {margin-bottom: 20px;}
.modal-part h5 {background-color: white; border-radius: 5px 5px 0 0; padding-left: 5px;}
.modal-part div.expr {display: flex; flex-direction: row; width: 100%; height: 30px; background-color: white; border-radius: 0 0 5px 5px;}
.modal-part div.expr div {flex: 1 1; display: flex;}
.modal-part div.expr label {flex: 1 1; display: flex; justify-content: center; align-items: center;}
.modal-part div.expr label i {font-size: 25px;}
.modal-part div.expr input:checked + label {background-color: #c4ffd5; border-radius: 10px;}
.modal input[type="text"] {width: 100%; height: 30px; border-radius: 0 0 5px 5px;}
.modal textarea {width: 100%; height: calc(100% - 20px); border-radius: 0 0 5px 5px; resize: none;}
.modal-header, .modal-footer {
    width: 100%;
    display: flex;
    position: relative;
}
.modal-header {justify-content: flex-end;}
.modal-header button {
    position: absolute;
    top: -30px;
    width: 25px;
    height: 25px;
    color: #e6e9f6;
    font-size: large;
    font-weight: 600;
}
.modal-footer-left {display: flex; justify-content: center;}
.modal-footer-right {display: flex; justify-content: flex-end;}
.modal-footer-left, .modal-footer-right {width: 50%;}
.modal-footer-left button, .modal-footer-right button {margin-top: 5px; margin-left: 5px;}
.bx-circle, .bxs-circle {
    font-size: 30px;
    color: white;
}
.bxs-message-square-check:before {
    /* 최초 저장 버튼 */
    font-size: 35px;
    color: #02c13a;
}
.bxs-message-square-edit:before {
    /* 수정 버튼 */
    font-size: 35px;
    color: #d29d00;
}
.bxs-message-square-x:before {
    /* 취소 버튼 */
    font-size: 35px;
    color: #cd0000;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.modal-pic {
    width: 50%;
}
.modal-pic .pic-group {
    width: 100%;
    height: 100%;
    position: relative;
}
.modal-pic .pic-group label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-pic .pic-group span {
    color: white;
}
.modal-info {
    background-color: #98b6cd;
    width: 50%;
}
.modal-info form {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: 100%;
}
.sel-date {
    padding: 5px 5px 5px 12px;
}
.modal-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}