.neighbor-wrap {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.neighbor-left, .neighbor-right {
  padding: 30px 0;
  /*------------------------*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-calendar {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}


/*//////////////////////////////////////////////////
[사용자 검색]*/
.search-nickname {
  display: flex;
  width: 80%;
  height: 6%;
  margin: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 3px #999999;
}
.search-nick-ipt {
  flex: 1;
  height: 100%;
  font-size: 20px;
  border-radius: 10px 0 0 10px;
  padding: 0 10px;
}
.search-nick-btn {
  height: 100%;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  /*------------------------*/
  background: #b621fe;
  color: #fff;
}


/*//////////////////////////////////////////////////
[이웃친구 목록]*/
.neighbor-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex: 1 1;
  background-color: #fff;
  border: 2px solid #bcd6d7;
  border-radius: 10px;
}

.neighbor-list > section {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}
.neighbor-list > section > button {
  border-radius: 5px;
  background-color: black;
}
input.search-follower-list {
  width: 100%;
  font-size: 20px;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
}
input.search-follower-list:focus {
  outline: 1px solid black;
}

.neighbor-list > article {
  margin: 10px 10px;
  overflow-y: auto;
}
.neighbor-list ul {
  width: 100%;
  /* height: 100%; */
}
.neighbor-list ul li {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 3px 0;
  margin: 5px 0;
  gap: 5px;
}
.neighbor-list ul li:not(:last-child) {
  border-bottom: 1px solid gray;
}
.neighbor-list ul li > div {
  display: flex;
  flex-direction: row;
}
.neighbor-list ul li > div > div {
  display: flex;
  flex-direction: column;
}
.neighbor-list ul li div:nth-child(2) {
  flex: 1;
}
.neighbor-list ul li img {
  width: 50px;
  height: 50px;
  border-radius: 35%;
  margin-right: 5px;
}
.noting { background-color: #fd89895e; }
.waiting { background-color: #feff9e; }
.approval { background-color: #f7fae6; }

.neighbor-list-footer {
  justify-content: center;
}
.neighbor-list-footer button {
  margin: 0 10px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  background-color: honeydew;
  font-weight: 600;
}


/*//////////////////////////////////////////////////
[채팅]*/
.neighbor-right > div {
  width: 80%;
  height: 100%;
  border-radius: 10px 10px;
  border: 1px solid #afafaf;
  background-color: #ffffff;
}
.chat-msg-box {
  width: 100%;
  padding: 30px;
  overflow-y: auto;
}
div.chat-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}
div.chat-input #myMsg {
  width: 90%;
  height: 100%;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0 0 0 10px;
  border-top: 1px solid #afafaf;
  resize: none;
}
div.chat-input #myMsg:focus {
  outline: 1px solid #999999;
}
div.chat-input button {
  width: 10%;
  height: 100%;
  background-color: #e1e13c;
  font-size: 35px;
  border-radius: 0 0 10px 0;
  border: 1px solid #999999;
}
.chat-left {
  display: flex;
  justify-content: flex-start;
}
.chat-right {
  display: flex;
  justify-content: flex-end;
}
.chat-left > span, .chat-right > span {
  max-width: calc(100% - 50px);
  white-space:normal;
  word-break:normal;
  word-wrap: break-word;
  background-color: #f3f3f4;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}
.chat-left > span { background-color: #f3f3f4; }
.chat-right > span { background-color: #cce597; }


@media(min-width: 766px) {
  .neighbor-wrap {
    flex-direction: row;
  }
  .neighbor-left {
    width: 50%;
    height: 100%;
  }
  .neighbor-right {
    width: 50%;
    height: 100%;
  }

  .neighbor-list > article {
    height: 566px;
  }
  .chat-msg-box { 
    height: 645px;
  }
  div.chat-input { 
    height: 58px;
  }
}

@media(max-width: 765px) {
  .neighbor-wrap {
    flex-direction: column;
  }
  .neighbor-left {
    width: 100%;
    height: 700px;
  }
  .neighbor-right {
    width: 100%;
    height: 700px;
  }

  .neighbor-list > article {
    height: 505px;
  }
  .chat-msg-box { 
    height: 586px;
  }
  div.chat-input { 
    height: 52px;
  }
}