.dis-flex { display: flex; }
.dis-none { display: none; }
.setting-wrap {
  flex-direction: column;
  position: fixed;
  left: 78px;
  top: 0;
  width: calc(100% - 78px);
  height: 102vh;
  background: #c1c1c1f2;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.setting {
  height: 70%;
  background: #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/*///////////////////////////////////////////////////
[공개 프로필]*/
.setting-profile {
  flex: 1;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.setting-profile > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.setting-profile > div:not(:last-child) {
  margin-bottom: 10px;
}

.setting-profile img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

/*///////////////////////////////////////////////////
[설정]*/
.setting-config {
  flex: 1;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.setting-config form, .setting-config ul {
  width: 100%;
}
.setting-config ul li {
  width: 100%;
  margin: 20px 0;
}

.setting-config label.textarea,
  .setting-config textarea {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.setting-config textarea {
  resize: none;
  padding: 10px;
  max-width: 100%;
  height: 120px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #999;
}

/* The switch - the box around the slider */
.switch {
  display: flex;
  align-items: center;
}
.switch span {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 700;
}
.switch input {
  display: none;
}
.switch label {
  width: 70px;
  padding: 1px 3px;
  display: flex;
  justify-content: center;
}

/* .setting-sel { 
  background-color: #00bb0073 !important;
} */
.switch label:has(> input:checked) {
  background-color: #00bb0073 !important;
}
.switch label:has(> input) {
  background-color: #73737373;
  color: #6d6d6d;
  font-weight: 900;
}

.setting-wrap .btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.setting-wrap .btn-group button {
  margin: 5px 5px 0 5px;
  width: 30px;
}

@media(min-width: 778px) {
  .setting-div100 {
    width: 700px;
    display: flex;
    flex-direction: row;
  }

  .setting-wrap .btn-group {
    width: 700px;
  }
}

@media(max-width: 777px) {
  .setting-div100 {
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  .setting-wrap .btn-group {
    width: 350px;
  }
}