/*//////////////////////////////////////////////////////////////////
[ timeline ]*/
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    min-width: 500px; /*775*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline * {
    box-sizing: border-box;
}

/* Container around content */
.container {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    width: 845px;
}
/* The actual timeline (the vertical ruler) */
.container::after {
    content: '';
    position: relative;
    width: 6px;
    height: 128.8px;
    background-color: white;
    left: -59%;
}

/* The actual content */
.content {
    width: 455px;
    height: 108px;
    margin: 10px 0 10px 0;
    padding: 10px 30px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}
.content::after {
    content: " ";
    display: flex;
    width: 0;
    height: 0;
    position: relative;
    top: -52px;
    left: -39px;
    z-index: 1;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 945px) {
    
    /* Full-width containers */
    .container {
        width: 500px;
    }
    .container::after {
        left: -230px;
    }

    .content {
        width: 187px;
        margin: 10px 0 10px 0;
        padding: 5px 15px;
    }
    .content::after {
        top: -40px;
        left: -25px;
    }

}

.show-new-log {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #db6262;
    margin: 25px 25px;
    border-radius: 50%;
    /*-----------------*/
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5px;
}

.photo-album {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0 60px 0 0;
}
.photo-album img {
    width: 70px;
    height: 76px;
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/* The circles on the timeline */
.photo-album::after {
    content: '';
    width: 25px;
    height: 25px;
    position: relative;
    left: 35px;
    top: -20px;
    background-color: white;
    border: 4px solid #FF9F55;
    border-radius: 50%;
    z-index: 1;
    margin-left: -25px;
}